<% html_title t(:tab_label) %>

<%= form_tag({}, {:id => 'filter_form', :method => :get}) do %>
  <%= hidden_field_tag 'id', @project.identifier %>
  Filter on project <%= select_tag "project", 
                          options_from_collection_for_select(@projects, "identifier", "name", @selected_project.try(:identifier)), 
                          :include_blank => true,
                          :onchange => "$('#filter_form').submit();" %> 
  or user <%= select_tag "user", 
                options_from_collection_for_select(@users, "login", "name", @selected_user.try(:login)), 
                :include_blank => true,
                :onchange => "$('#filter_form').submit();" %>
<% end %>

<% @trackers.each do |tracker| %>
  <div class="key">
    <div class="swatch tracker_<%= tracker.id %>"></div>
    <%= tracker.name %>
  </div>
<% end %>

<div class="clear"></div>

<% @statuses.each do |status| %>
  <div class="column">
    <h1><%= status.name %></h1>
    <% filter_issues_by_status(status).each do |issue| %>
      <div class="card tracker_<%= issue.tracker_id %>" title="<%= issue.description %>">
        <% if Setting["gravatar_enabled"] == "1" %>
          <% email = issue.assigned_to.try(:mail) %>
          <%= gravatar(email) if email %>
        <% end %>
        <%= link_to "##{issue.id}", issue_path(issue.id) %>:
        <%= link_to issue.subject, issue_path(issue.id) %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'jquery-ui/smoothness/jquery-ui-1.8.23.custom.css', 'default', :plugin => 'agile_wall' %>
    <%= javascript_include_tag 'jquery-ui/jquery-1.8.0.min.js', 'jquery-ui/jquery-ui-1.8.23.custom.min.js', 'default', :plugin => 'agile_wall' %>
<% end %>
